USE [master]
GO
/****** Object:  Database [WAREHOUSE]    Script Date: 5/28/2025 12:00:27 ******/
CREATE DATABASE [WAREHOUSE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WAREHOUSE', FILENAME = N'D:\Application\SQL server 2022\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\WAREHOUSE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WAREHOUSE_log', FILENAME = N'D:\Application\SQL server 2022\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\WAREHOUSE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WAREHOUSE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WAREHOUSE]
GO
/****** Object:  Table [dbo].[account]    Script Date: 5/28/2025 12:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[fullname] [nvarchar](255) NULL,
	[password] [nvarchar](255) NOT NULL,
	[role_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 5/28/2025 12:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 5/28/2025 12:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 5/28/2025 12:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partner_id] [int] NULL,
	[type] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[order_date] [datetime] NULL,
	[staff_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 5/28/2025 12:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[unit] [nvarchar](10) NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partner]    Script Date: 5/28/2025 12:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 5/28/2025 12:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[category_id] [int] NULL,
	[created_at] [datetime] NULL,
	[unit] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 5/28/2025 12:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [username], [fullname], [password], [role_id], [created_at]) VALUES (1, N'admin', N'admin', N'1234', 1, CAST(N'2025-05-24T15:25:27.113' AS DateTime))
INSERT [dbo].[account] ([id], [username], [fullname], [password], [role_id], [created_at]) VALUES (2, N'trungnd', N'Nguyễn Đức Trung', N'1234', 2, CAST(N'2025-05-25T21:00:42.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[account] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [created_at]) VALUES (10, N'đồ uống', CAST(N'2025-05-28T09:57:08.470' AS DateTime))
INSERT [dbo].[category] ([id], [name], [created_at]) VALUES (11, N'thực phẩm khô', CAST(N'2025-05-28T09:57:19.797' AS DateTime))
INSERT [dbo].[category] ([id], [name], [created_at]) VALUES (12, N'văn phòng phẩm', CAST(N'2025-05-28T09:58:02.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory] ON 

INSERT [dbo].[inventory] ([id], [product_id], [quantity], [updated_at]) VALUES (4, 13, 130, CAST(N'2025-05-28T11:47:44.607' AS DateTime))
INSERT [dbo].[inventory] ([id], [product_id], [quantity], [updated_at]) VALUES (5, 14, 238, CAST(N'2025-05-28T10:29:12.970' AS DateTime))
INSERT [dbo].[inventory] ([id], [product_id], [quantity], [updated_at]) VALUES (6, 15, 468, CAST(N'2025-05-28T10:30:21.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id], [partner_id], [type], [status], [order_date], [staff_id]) VALUES (2, 1, 0, 0, CAST(N'2025-05-28T11:12:07.743' AS DateTime), 2)
INSERT [dbo].[order] ([id], [partner_id], [type], [status], [order_date], [staff_id]) VALUES (3, 3, 0, 0, CAST(N'2025-05-28T11:25:36.090' AS DateTime), 2)
INSERT [dbo].[order] ([id], [partner_id], [type], [status], [order_date], [staff_id]) VALUES (4, 1, 0, 2, CAST(N'2025-05-28T11:26:33.483' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[order_item] ON 

INSERT [dbo].[order_item] ([id], [order_id], [product_id], [unit], [quantity]) VALUES (2, 2, 13, N'thùng', 200)
INSERT [dbo].[order_item] ([id], [order_id], [product_id], [unit], [quantity]) VALUES (3, 2, 14, N'bao', 250)
INSERT [dbo].[order_item] ([id], [order_id], [product_id], [unit], [quantity]) VALUES (4, 2, 16, N'thùng', 120)
SET IDENTITY_INSERT [dbo].[order_item] OFF
GO
SET IDENTITY_INSERT [dbo].[partner] ON 

INSERT [dbo].[partner] ([id], [name], [description]) VALUES (1, N'Công ty A', N'')
INSERT [dbo].[partner] ([id], [name], [description]) VALUES (3, N'Công ty B', N'')
INSERT [dbo].[partner] ([id], [name], [description]) VALUES (4, N'Nguyễn Văn C', N'')
SET IDENTITY_INSERT [dbo].[partner] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [name], [category_id], [created_at], [unit]) VALUES (13, N'mì tôm hảo hảo chua cay', 11, CAST(N'2025-05-28T10:27:33.000' AS DateTime), N'thùng')
INSERT [dbo].[product] ([id], [name], [category_id], [created_at], [unit]) VALUES (14, N'gạo XL25', 11, CAST(N'2025-05-28T10:29:12.970' AS DateTime), N'bao')
INSERT [dbo].[product] ([id], [name], [category_id], [created_at], [unit]) VALUES (15, N'bia lon tiger bạc', 10, CAST(N'2025-05-28T10:30:21.447' AS DateTime), N'thùng')
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name]) VALUES (1, N'quản trị viên')
INSERT [dbo].[role] ([id], [name]) VALUES (2, N'nhân viên')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__account__F3DBC572DA4D81F8]    Script Date: 5/28/2025 12:00:28 ******/
ALTER TABLE [dbo].[account] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__category__72E12F1BA0B8E7B4]    Script Date: 5/28/2025 12:00:28 ******/
ALTER TABLE [dbo].[category] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__inventor__47027DF449FE97CB]    Script Date: 5/28/2025 12:00:28 ******/
ALTER TABLE [dbo].[inventory] ADD UNIQUE NONCLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD FOREIGN KEY([partner_id])
REFERENCES [dbo].[partner] ([id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD FOREIGN KEY([staff_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD CHECK  (([status]>=(0) AND [status]<=(2)))
GO
USE [master]
GO
